.obrazki {
	margin: 0;
    position: relative;
   left:31%;

}
.lead {
	text-align: center;
	margin-top: 30px;
}


.css {
	font-style: italic;
}
.js {
	font-style: italic;
}
.ht {
	font-style: italic;
}

.col-lg-6 {
	font-size: 14px;
}

h3 {
  color: black;
  letter-spacing: 5px;

}

.btn1 {
    background-color: grey; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn2 {
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn1:hover {
	background-color: black;
}
.btn2:hover {
	background-color: #e6e6e6;
}


body {
	background-color: grey;
}

   .toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: 15px 12px; 
    	font-style: italic; 
    	border: 0;
		background: lightgray;
		font-size: 24px; }
    #effect { width: 280px;  
    	padding: 1em; 
    	border: 1px solid #000; 
    	background: #808080; 
    	color: #ffffff;
    	font-style: italic;
    	 }
   .newClass { text-indent: 40px; letter-spacing: .4em; width: 410px; height: 120px; padding: 30px; margin: 10px; font-size: 1.1em; }
   
   #button:hover {
   	background-color: white;
   }