.obrazki {
	margin: 0;
    position: relative;
   left:31%;

}
.lead {
	text-align: center;
	margin-top: 30px;
}


.css {
	font-style: italic;
}
.js {
	font-style: italic;
}
.ht {
	font-style: italic;
}